*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}


/*PARTE DE LA LANDING*/

body nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 60px;
}

nav img {
    width: 55px;
    height: 55px;
}

nav ul{
    background-color: rgba(238, 104, 104, 0.021);
    justify-content: center;
    place-content: center;
    place-items: center;
    padding: 5px 10px 5px 10px;
    height: 60px;
    width: 100%;
    text-align: center;

}


nav .hovered:hover{
    padding: 5px 10px 5px 10px;
    background: crimson;
    border-radius: 5px;
}


nav a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}


body main {
    display: flex;
    flex-direction: column;
}

.section1{
    width: 100vw;
    min-height: 50vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 .botons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@keyframes shine {
    from {
        color: #333;
    }
    to {
        color: #eee;
    }
}

.section1 h3 {
    animation-duration: 2.5s;
    animation-name: shine;
    animation-fill-mode: forwards;
}

.section1 img {
    margin-top: 0px;
    max-height: 100vh;
    max-width: 100vw;
    object-fit: none;
    animation-duration: 3s;
    animation-name: moveup;
    z-index: -1;
    animation-fill-mode: forwards;
}

.section1 h1 {
    margin-left: 80px;
    margin-top: 400px;
    font-size: 50px;
    margin-bottom: 30px;
    animation-duration: 2.5s;
    animation-name: shine;
    animation-fill-mode: forwards;
}


@keyframes moveup {
    from {
        transform: translateY(0px); /* Posición inicial: no desplazamiento en el eje Y */
    }
    to {
        transform: translateY(-610px);
        color: #eee; /* Desplazamiento hacia abajo en el eje Y */
    }
}

.section1 button {
    padding: 4px 10px;
    background: crimson;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;

}

.section1 button:hover {
    background: #eee;
    color: rgb(8, 8, 8);
}

.section1 button a {
    text-decoration: none;
    color: #fbd0d9;
}

.section1 button a:hover {
    text-decoration: none;
    color: crimson;
}



@keyframes scaleup {
    from{
        scale: 0.7;
    }
    to {
        scale: 1;
    }
}



.section2{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.section2 .conten {
    max-height: 40%;
    margin-right: 20%;
}

.section2 h1 {
    margin-left: 25%;
    font-size: 55px;
    animation-name: scaleup;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}



.section2 p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;

}

.section2 .botons {
    margin-left: 10%;

}

.section2 .botons button{
    padding: 4px 10px;
    background: crimson;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.section2 button:hover {
    background: #eee;
    color: crimson;
}

.section2 button a {
    text-decoration: none;
    color: #fbd0d9;
}

.section2 button a:hover {
    text-decoration: none;
    color: crimson;
}

.section3{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.section3 img {
    margin-bottom: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    animation-name: scaleup;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.section3 h3 {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 35px;
}

.section4 {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.section4 button {
    flex-direction: row;
    margin-left: 10px;
    padding: 4px 10px;
    background: #fbd0d9;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.section4 button a{
    text-decoration: none;
    color: crimson;
    font-size: 25px;
    font-weight: 600;
}

.section4 .cont {
    margin-left: 10%;
    max-width: 30%;
}

.section4 p {
    flex-direction: column;
    max-width: 350px;
    font-size: 20px;
}

.section4 img {
    width: 60%;
    margin-right: 10px;
    border-radius: 5px 85px;
    max-width: 40%;
    animation-name: scaleup;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


.section5 {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.section5 .contain {
    margin-right: 5%;
}

.section5 h3 {
    margin-top: 35px;
    color: crimson;
    font-weight: bolder;
}

.section5 h1 {
    font-size: 30px;
    margin-left: 5%;
}

.section5 p {
    margin-left: 5%;
}

.section5 .btn {
    margin-left: 5%;
}

.section5 button {
    padding: 4px 10px;
    background: crimson;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section5 button a{
    text-decoration: none;
    color: #fbd0d9;
    font-size: 25px;
    font-weight: 600;
}




.section6 {
    margin-top: 10%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.section6 h3 {
margin-bottom: 5px;
max-width: 70%;
}


.section6 .contain {
    margin: 0 10% 0 10%;
    max-width: 50%;
}

.section6 .more_questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.section6 button {
    padding: 4px 10px;
    background: crimson;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section6 button a{
    text-decoration: none;
    color: #fbd0d9;
    font-size: 25px;
    font-weight: 600;
}



.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}







/*PARTE DEL LOGIN, REGISTRO Y PAGINAS DE USUARIO Y ABOGADO*/

.container {
    width: 100vw;
    /* place-items: center; */
    margin-left: 250px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}



.container .content {
    text-align: center;
}

.container .content h3{
    font-size: 30px;
    color: black;
}

.container .content h3 span {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}
.container .content h1{
    font-size: 50px;
    color: black;
}

.container .content h1 span {
    color: crimson;
}
.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}
.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
    border-radius: 15px;
    margin-top: 10px;
}

.container .content .btn:hover {
    background: crimson;
}


.form-container{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(#2e2c2c, #e0e0e0);
    gap: 50px;
}
.form-container img{
    margin-right: 5vw;
}
.form-container form{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
    padding: 20px;
}

.form-container form h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;

}
.form-container form .form-btn{
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background: crimson;
    color: #fff;
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a{
    color: crimson;
    cursor: pointer;
}

.form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

/*PRUEBA CON ADMIN_PAGE.PHP*/

.containernavbar {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Para ocultar cualquier desbordamiento */
}

body .admin-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.admin-menu{
    margin-top: 80px;
}

.admin-navbar {
    left: 0;
    width: 250px;
    height: 100%;
    position: fixed;
    background: crimson;
    padding: 0;
    margin:0;
    overflow-y: auto; /* Para agregar un desplazamiento vertical si es necesario */
    z-index: 1; /* Para asegurarse de que esté delante del contenido */
}

.logo {
    padding: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.logo h1 {
    margin: 10px 0;
    font-size: 18px;
    color: #333232;
}

.logo h1:hover {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
}

.admin-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 50px;
    
}

.admin-navbar ul:hover {
    background: #ecc3cd;
    list-style: none;
}

.admin-navbar ul li {
    padding: 10px 20px;
    width: 100%;
}

.admin-navbar ul li:hover {
    color: #fff;
    background: rgb(209, 70, 98);
}

.admin-navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}


.navbar .logoutbtn {
    text-decoration: none;
    color: #333232;
    cursor: pointer;
}

.navbar .logoutbtn:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.login-contenedor {
    display: flex;
    flex-direction: row;


}




/* CHAT MESSAGES */
body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.gallery span {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.gallery span img {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.image-wrap2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 105px;
    margin-left: 30px;
    width: 400px;
    height: 400px;
    box-shadow: #151f1d;
    transition: box-shadow .1s;
}

